body {
	font-size: 15px;
	color: white;
	background-color:black;
}

.container-fluid {
    margin: 0;
    padding: 0;

}

#header-nav {
	background-color: white;
	border border-radius: 0;
	border: 0;
	padding-bottom: 25px;

}




h1{
	color: black;
	float: left;
	margin: 0;
	font-style: italic;
	font-family:  cursive;
	font-weight: bold;
	text-shadow: 1px 1px 1px ;

}
#nav-list a{
  
    color:black}

#nav-list a:hover{
	background-color:black;
    color: white;
   

}

.navbar-header button.navbar-toggle{
	border: 2px solid black;
    margin-right: 25px;
}

.navbar-header button.navbar-toggle{
	clear: both;
}



* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 0px;
    margin-right: 0px;
}

h2 {
    text-align: center;
    font-size: 1.75em;
}

div {
    margin: 0px;
    padding: 0px;
    margin-left: 1.25%;
    margin-right: 1.25%;
   }

div.block {
    align-content: center;
    background-color:yellow;
    margin: 1.28% 1.28%;
    margin-top: 1.49%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

p {
    padding-top: 20px;
    color: black;
   
}

p.menu {
    margin: 0;
    padding: 0;
    font-size: 1.25em;
}

span.title {
    position:relative;
   text-align: center;
   margin-left: 45%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border: 1px solid black;
    color: white;

}

span.title.p1 {
    background-color: brown;
    


}

span.title.p2 {
    background-color: blue;
}

span.title.p3 {
    background-color:darkviolet;
}


.menu-item{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    color: black;
    display: block;
}

.menu-item:hover{
    background-color: rgba(0,0,0,0.9);
    color: rgba(0,0,0,0.4);
}
.row{
    margin: 20px;
    }



    li{
    box-sizing: border-box;
    width: 100%;
}